<a href="https://colab.research.google.com/github/PedroOlavo/Bolsa_IC/blob/main/Banco_de_dados_Canal4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Criação dos bancos de dados para treinar modelos de machine learning, ainda em fase inicial.

In [ ]:
import pandas as pd
import numpy as np

#o canal 5, FX, ainda não é importante

In [ ]:
n1 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/1Nmar.txt', sep="\s+")
n1.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n2 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/2Nmar.txt', sep="\s+")
n2.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n3 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/3Nmar.txt', sep="\s+")
n3.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n4 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/4Nmar.txt', sep="\s+")
n4.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n5 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/5Nmar.txt', sep="\s+")
n5.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n6 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/6Nmar.txt', sep="\s+")
n6.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n7 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/7Nmar.txt', sep="\s+")
n7.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n8 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/8Nmar.txt', sep="\s+")
n8.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n9 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/9Nmar.txt', sep="\s+")
n9.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n10 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/10Nmar.txt', sep="\s+")
n10.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n11 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/11Nmar.txt', sep="\s+")
n11.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']

In [ ]:
n11.info()
#o número de linhas pra esses dados varia muito
#entre 5.300 ate 9.200 por isso vou fazer slices com 1500 amostras cada
#jogando parte de alguns fora
#vou precisar transormar as colunas em listas
#depois as listas em linhas e juntar tudo num dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5889 entries, 0 to 5888
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   C1 - RF  5889 non-null   float64
 1   C2 - VF  5889 non-null   float64
 2   C3 - VM  5889 non-null   float64
 3   C4 - ST  5889 non-null   float64
 4   C5 - FX  5889 non-null   float64
dtypes: float64(5)
memory usage: 230.2 KB

In [ ]:
nn1 = n1['C4 - ST']
nn2 = n2['C4 - ST']
nn3 = n3['C4 - ST']
nn4 = n4['C4 - ST']
#aqui a nomemclatura é n de normal
# o primeiro número é a pessoa, podendo ir de 1 a 11 o segundo numero é a parte indo de 1 a 3
ni1 = nn1[0:1500]
n12 = nn1[1500:3000]
n13 = nn1[3000:4500]
n21 = nn2[0:1500]
n22 = nn2[1500:3000]
n23 = nn2[3000:4500]
n24 = nn2[4500:6000]#novo
n31 = nn3[0:1500]
n32 = nn3[1500:3000]
n33 = nn3[3000:4500]
n34 = nn3[4500:6000]#novo
n41 = nn4[0:1500]
n42 = nn4[1500:3000]
n43 = nn4[3000:4500]
n44 = nn4[4500:6000]#novo
n45 = nn4[6000:7500]#novo

In [ ]:
nn5 = n5['C4 - ST']
nn6 = n6['C4 - ST']
nn7 = n7['C4 - ST']
nn8 = n8['C4 - ST']
#aqui a nomemclatura é n de normal
# o primeiro número é a pessoa, podendo ir de 1 a 11 o segundo numero é a parte indo de 1 a 3
n51 = nn5[0:1500]
n52 = nn5[1500:3000]
n53 = nn5[3000:4500]
n54 = nn5[4500:6000]#novo
n61 = nn6[0:1500]
n62 = nn6[1500:3000]
n63 = nn6[3000:4500]
n64 = nn6[4500:6000]
n71 = nn7[0:1500]
n72 = nn7[1500:3000]
n73 = nn7[3000:4500]
n74 = nn7[4500:6000]#novo
n75 = nn7[6000:7500]#novo
n81 = nn8[0:1500]
n82 = nn8[1500:3000]
n83 = nn8[3000:4500]
n84 = nn8[4500:6000]#novo
n85 = nn8[6000:7500]#novo
n86 = nn8[7500:9000]#novo

In [ ]:
nn9 = n9['C4 - ST']
nn10 = n10['C4 - ST']
nn11 = n11['C4 - ST']
#aqui a nomemclatura é n de normal
# o primeiro número é a pessoa, podendo ir de 1 a 11 o segundo numero é a parte indo de 1 a 3
n91 = nn9[0:1500]
n92 = nn9[1500:3000]
n93 = nn9[3000:4500]
n101 = nn10[0:1500]
n102 = nn10[1500:3000]
n103 = nn10[3000:4500]
n111 = nn11[0:1500]
n112 = nn11[1500:3000]
n113 = nn11[3000:4500]
#ok, agora tenho 33 series com o mesmo comprimento
#preciso junta todas num df proprio em linhas

In [ ]:
x = []
for i in range(1501):
  x.append(i)

In [ ]:
ni1 = ni1.to_frame()
ni1 = ni1.T.reset_index()
ni1.columns=[x]
n12 = n12.to_frame()
n12 = n12.T.reset_index()
n12.columns=[x]
n13 = n13.to_frame()
n13 = n13.T.reset_index()
n13.columns=[x]
n21 = n21.to_frame()
n21 = n21.T.reset_index()
n21.columns=[x]
n22 = n22.to_frame()
n22 = n22.T.reset_index()
n22.columns=[x]
n23 = n23.to_frame()
n23 = n23.T.reset_index()
n23.columns=[x]
n24 = n24.to_frame()
n24 = n24.T.reset_index()
n24.columns=[x]
n31 = n31.to_frame()
n31 = n31.T.reset_index()
n31.columns=[x]
n32 = n32.to_frame()
n32 = n32.T.reset_index()
n32.columns=[x]
n33 = n33.to_frame()
n33 = n33.T.reset_index()
n33.columns=[x]
n34 = n34.to_frame()
n34 = n34.T.reset_index()
n34.columns=[x]
n41 = n41.to_frame()
n41 = n41.T.reset_index()
n41.columns=[x]
n42 = n42.to_frame()
n42 = n42.T.reset_index()
n42.columns=[x]
n43 = n43.to_frame()
n43 = n43.T.reset_index()
n43.columns=[x]
n44 = n44.to_frame()
n44 = n44.T.reset_index()
n44.columns=[x]
n45 = n45.to_frame()
n45 = n45.T.reset_index()
n45.columns=[x]
n51 = n51.to_frame()
n51 = n51.T.reset_index()
n51.columns=[x]
n52 = n52.to_frame()
n52 = n52.T.reset_index()
n52.columns=[x]
n53 = n53.to_frame()
n53 = n53.T.reset_index()
n53.columns=[x]
n54 = n54.to_frame()
n54 = n54.T.reset_index()
n54.columns=[x]

In [ ]:
n61 = n61.to_frame()
n61 = n61.T.reset_index()
n61.columns=[x]
n62 = n62.to_frame()
n62 = n62.T.reset_index()
n62.columns=[x]
n63 = n63.to_frame()
n63 = n63.T.reset_index()
n63.columns=[x]
n64 = n64.to_frame()
n64 = n64.T.reset_index()
n64.columns=[x]
n71 = n71.to_frame()
n71 = n71.T.reset_index()
n71.columns=[x]
n72 = n72.to_frame()
n72 = n72.T.reset_index()
n72.columns=[x]
n73 = n73.to_frame()
n73 = n73.T.reset_index()
n73.columns=[x]
n74 = n74.to_frame()
n74 = n74.T.reset_index()
n74.columns=[x]
n75 = n75.to_frame()
n75 = n75.T.reset_index()
n75.columns=[x]
n81 = n81.to_frame()
n81 = n81.T.reset_index()
n81.columns=[x]
n82 = n82.to_frame()
n82 = n82.T.reset_index()
n82.columns=[x]
n83 = n83.to_frame()
n83 = n83.T.reset_index()
n83.columns=[x]
n84 = n84.to_frame()
n84 = n84.T.reset_index()
n84.columns=[x]
n85 = n85.to_frame()
n85 = n85.T.reset_index()
n85.columns=[x]
n86 = n86.to_frame()
n86 = n86.T.reset_index()
n86.columns=[x]

In [ ]:
n91 = n91.to_frame()
n91 = n91.T.reset_index()
n91.columns=[x]
n92 = n92.to_frame()
n92 = n92.T.reset_index()
n92.columns=[x]
n93 = n93.to_frame()
n93 = n93.T.reset_index()
n93.columns=[x]
n101 = n101.to_frame()
n101 = n101.T.reset_index()
n101.columns=[x]
n102 = n102.to_frame()
n102 = n102.T.reset_index()
n102.columns=[x]
n103 = n103.to_frame()
n103 = n103.T.reset_index()
n103.columns=[x]
n111 = n111.to_frame()
n111 = n111.T.reset_index()
n111.columns=[x]
n112 = n112.to_frame()
n112 = n112.T.reset_index()
n112.columns=[x]
n113 = n113.to_frame()
n113 = n113.T.reset_index()
n113.columns=[x]

In [ ]:
n12

      0      1       2       3       4     ...   1496    1497   1498    1499    1500
0  C4 - ST  0.012  0.0082  0.0067  0.0045  ... -0.006 -0.0046 -0.006 -0.0053 -0.0083

[1 rows x 1501 columns]

In [ ]:
df = pd.DataFrame()
lista = [ni1,n12,n13,n21,n22,n23,n24,n31,n32,n33,n34,n41,n42,n43,
         n44,n51,n52,n53,n54,n61,n62,n63,n64,n71,n72,n73,n74,n75,
         n81,n82,n83,n84,n85,n86,n91,n92,n93,n101,n102,n103,n111,n112,n113]
df = pd.concat(lista)
df.drop(columns=[0], inplace=True)
df['class'] = 0
#saudavel está com 0
df.head()

        1       2       3       4       5  ...    1497    1498    1499    1500 class
0 -0.0046 -0.0023 -0.0038 -0.0075 -0.0083  ...  0.0180  0.0172  0.0165  0.0150     0
0  0.0120  0.0082  0.0067  0.0045  0.0007  ... -0.0046 -0.0060 -0.0053 -0.0083     0
0 -0.0083 -0.0075 -0.0075 -0.0060 -0.0075  ...  0.0052  0.0060  0.0067  0.0045     0
0 -0.0015 -0.0008 -0.0015 -0.0023 -0.0030  ...  0.0075  0.0105  0.0090  0.0045     0
0 -0.0008 -0.0015 -0.0046 -0.0060 -0.0053  ...  0.0015 -0.0008 -0.0038 -0.0023     0

[5 rows x 1501 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 0
Columns: 1501 entries, (1,) to ('class',)
dtypes: float64(1500), int64(1)
memory usage: 504.6 KB

In [ ]:
n1 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/1Amar.txt', sep="\s+")
n1.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n2 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/2Amar.txt', sep="\s+")
n2.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n3 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/3Amar.txt', sep="\s+")
n3.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n4 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/4Amar.txt', sep="\s+")
n4.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n5 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/5Amar.txt', sep="\s+")
n5.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n6 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/6Amar.txt', sep="\s+")
n6.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n7 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/7Amar.txt', sep="\s+")
n7.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n8 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/8Amar.txt', sep="\s+")
n8.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX']
n9 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/9Amar.txt', sep="\s+")
n9.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX', 'A']
n10 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/10Amar.txt', sep="\s+")
n10.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX', 'A']
n11 = pd.read_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/11Amar.txt', sep="\s+")
n11.columns=['C1 - RF', 'C2 - VF', 'C3 - VM', 'C4 - ST', 'C5 - FX', 'A']

In [ ]:
nn1 = n1['C4 - ST']
nn2 = n2['C4 - ST']
nn3 = n3['C4 - ST']
nn4 = n4['C4 - ST']
#aqui a nomemclatura é n de normal
# o primeiro número é a pessoa, podendo ir de 1 a 11 o segundo numero é a parte indo de 1 a 3
ni1 = nn1[0:1500]
n12 = nn1[1500:3000]
n13 = nn1[3000:4500]
n14 = nn1[4500:6000]#novo
n15 = nn1[6000:7500]#novo
n16 = nn1[7500:9000]#novo
n17 = nn1[9000:10500]#novo
n21 = nn2[0:1500]
n22 = nn2[1500:3000]
n23 = nn2[3000:4500]
n24 = nn2[4500:6000]#novo
n25 = nn2[6000:7500]#novo
n26 = nn2[7500:9000]#novo
n27 = nn2[9000:10500]#novo
n31 = nn3[0:1500]
n32 = nn3[1500:3000]
n33 = nn3[3000:4500]
n34 = nn3[4500:6000]#novo
n35 = nn3[6000:7500]#novo
n41 = nn4[0:1500]
n42 = nn4[1500:3000]
n43 = nn4[3000:4500]

In [ ]:
nn5 = n5['C4 - ST']
nn6 = n6['C4 - ST']
nn7 = n7['C4 - ST']
nn8 = n8['C4 - ST']
# o primeiro número é a pessoa, podendo ir de 1 a 11 o segundo numero é a parte indo de 1 a 3
n51 = nn5[0:1500]
n52 = nn5[1500:3000]
n53 = nn5[3000:4500]
n61 = nn6[0:1500]
n62 = nn6[1500:3000]
n63 = nn6[3000:4500]
n71 = nn7[0:1500]
n72 = nn7[1500:3000]
n73 = nn7[3000:4500]
n81 = nn8[0:1500]
n82 = nn8[1500:3000]
n83 = nn8[3000:4500]

In [ ]:
nn9 = n9['C4 - ST']
nn10 = n10['C4 - ST']
nn11 = n11['C4 - ST']
# o primeiro número é a pessoa, podendo ir de 1 a 11 o segundo numero é a parte indo de 1 a 3
n91 = nn9[0:1500]
n92 = nn9[1500:3000]
n93 = nn9[3000:4500]
n101 = nn10[0:1500]
n102 = nn10[1500:3000]
n103 = nn10[3000:4500]
n111 = nn11[0:1500]
n112 = nn11[1500:3000]
n113 = nn11[3000:4500]
#ok, agora tenho 33 series com o mesmo comprimento
#preciso junta todas num df proprio em linhas

In [ ]:
ni1 = ni1.to_frame()
ni1 = ni1.T.reset_index()
ni1.columns=[x]
n12 = n12.to_frame()
n12 = n12.T.reset_index()
n12.columns=[x]
n13 = n13.to_frame()
n13 = n13.T.reset_index()
n13.columns=[x]
n14 = n14.to_frame()
n14 = n14.T.reset_index()
n14.columns=[x]
n15 = n15.to_frame()
n15 = n15.T.reset_index()
n15.columns=[x]
n16 = n16.to_frame()
n16 = n16.T.reset_index()
n16.columns=[x]
n17 = n17.to_frame()
n17 = n17.T.reset_index()
n17.columns=[x]
n21 = n21.to_frame()
n21 = n21.T.reset_index()
n21.columns=[x]
n22 = n22.to_frame()
n22 = n22.T.reset_index()
n22.columns=[x]
n23 = n23.to_frame()
n23 = n23.T.reset_index()
n23.columns=[x]
n24 = n24.to_frame()
n24 = n24.T.reset_index()
n24.columns=[x]
n25 = n25.to_frame()
n25 = n25.T.reset_index()
n25.columns=[x]
n26 = n26.to_frame()
n26 = n26.T.reset_index()
n26.columns=[x]
n27 = n27.to_frame()
n27 = n27.T.reset_index()
n27.columns=[x]
n31 = n31.to_frame()
n31 = n31.T.reset_index()
n31.columns=[x]
n32 = n32.to_frame()
n32 = n32.T.reset_index()
n32.columns=[x]
n33 = n33.to_frame()
n33 = n33.T.reset_index()
n33.columns=[x]
n34 = n34.to_frame()
n34 = n34.T.reset_index()
n34.columns=[x]
n35 = n35.to_frame()
n35 = n35.T.reset_index()
n35.columns=[x]
n41 = n41.to_frame()
n41 = n41.T.reset_index()
n41.columns=[x]
n42 = n42.to_frame()
n42 = n42.T.reset_index()
n42.columns=[x]
n43 = n43.to_frame()
n43 = n43.T.reset_index()
n43.columns=[x]
n51 = n51.to_frame()
n51 = n51.T.reset_index()
n51.columns=[x]
n52 = n52.to_frame()
n52 = n52.T.reset_index()
n52.columns=[x]
n53 = n53.to_frame()
n53 = n53.T.reset_index()
n53.columns=[x]

In [ ]:
n61 = n61.to_frame()
n61 = n61.T.reset_index()
n61.columns=[x]
n62 = n62.to_frame()
n62 = n62.T.reset_index()
n62.columns=[x]
n63 = n63.to_frame()
n63 = n63.T.reset_index()
n63.columns=[x]
n71 = n71.to_frame()
n71 = n71.T.reset_index()
n71.columns=[x]
n72 = n72.to_frame()
n72 = n72.T.reset_index()
n72.columns=[x]
n73 = n73.to_frame()
n73 = n73.T.reset_index()
n73.columns=[x]
n81 = n81.to_frame()
n81 = n81.T.reset_index()
n81.columns=[x]
n82 = n82.to_frame()
n82 = n82.T.reset_index()
n82.columns=[x]
n83 = n83.to_frame()
n83 = n83.T.reset_index()
n83.columns=[x]

In [ ]:
n91 = n91.to_frame()
n91 = n91.T.reset_index()
n91.columns=[x]
n92 = n92.to_frame()
n92 = n92.T.reset_index()
n92.columns=[x]
n93 = n93.to_frame()
n93 = n93.T.reset_index()
n93.columns=[x]
n101 = n101.to_frame()
n101 = n101.T.reset_index()
n101.columns=[x]
n102 = n102.to_frame()
n102 = n102.T.reset_index()
n102.columns=[x]
n103 = n103.to_frame()
n103 = n103.T.reset_index()
n103.columns=[x]
n111 = n111.to_frame()
n111 = n111.T.reset_index()
n111.columns=[x]
n112 = n112.to_frame()
n112 = n112.T.reset_index()
n112.columns=[x]
n113 = n113.to_frame()
n113 = n113.T.reset_index()
n113.columns=[x]

In [ ]:
df2 = pd.DataFrame()
lista = [ni1,n12,n13,n14,n15,n16,n17,n21,n22,n23,n24,n25,n26,
         n27,n31,n32,n33,n34,n35,n41,n42,n43,
         n51,n52,n53,n61,n62,n63,n71,n72,n73,n81,n82,n83,
         n91,n92,n93,n101,n102,n103,n111,n112,n113]
df2 = pd.concat(lista)
df2.drop(columns=[0], inplace=True)
df2['class'] = 1
df2.head()

        1       2       3       4       5  ...    1497    1498    1499    1500 class
0  0.0397  0.0345  0.0345  0.0337  0.0082  ... -0.0660 -0.0691 -0.0398 -0.0091     1
0  0.0082  0.0112  0.0007 -0.0091 -0.0218  ...  0.0330  0.0450  0.0510  0.0540     1
0  0.0630  0.0652  0.0427  0.0195  0.0007  ...  0.0300  0.0495  0.0607  0.0765     1
0  0.0787  0.0547  0.0090 -0.0503 -0.0975  ... -0.0480 -0.0555 -0.0533 -0.0293     1
0 -0.0083 -0.0068  0.0060  0.0195  0.0232  ...  0.0007 -0.0008  0.0000  0.0000     1

[5 rows x 1501 columns]

In [ ]:
ndf = pd.DataFrame()
ndf = pd.concat([df,df2])
ndf.tail()

        1       2       3       4       5  ...    1497    1498    1499    1500 class
0  0.0000  0.0142  0.0157  0.0067  0.0045  ...  0.0015  0.0007  0.0000 -0.0015     1
0 -0.0023 -0.0053 -0.0083 -0.0038  0.0060  ...  0.0052  0.0442  0.0052 -0.0068     1
0 -0.0488 -0.0405 -0.0046  0.0360  0.0555  ...  0.0067  0.0015  0.0007  0.0015     1
0  0.0015 -0.0008 -0.0008  0.0052  0.0052  ...  0.0120  0.0045 -0.0083 -0.0128     1
0 -0.0038 -0.0165 -0.0405 -0.0398 -0.0240  ... -0.0015  0.0015 -0.0008 -0.0038     1

[5 rows x 1501 columns]

In [ ]:
banco_canal4 = ndf.to_csv('/content/drive/MyDrive/BancodeDadosIC - Joelho/banco_canal4')